Debug
Release
*.aps
.vs
*.suo
*.user
*.obj
*.iobj
*.ipdb
*.ilk
/DDSystem/bin/ConvTGATo32BitBmp_d.exe
/DDSystem/bin/ConvTGATo32BitBmp_d.pdb
/DDSystem/bin/DDSystem_d.exe
/DDSystem/bin/DDSystem_d.pdb
/DDSystem/bin/Merge_d.exe
/DDSystem/bin/Merge_d.pdb
/DDSystem/bin/ConvTGATo32BitBmp.exe
/DDSystem/bin/ConvTGATo32BitBmp.pdb
/DDSystem/bin/DDSystem.exe
/DDSystem/bin/DDSystem.pdb
/DDSystem/bin/Merge.exe
/DDSystem/bin/Merge.pdb
/AFS/pdb/afs.pdb
/AFS/pdb/afs_bip.pdb
/AFS/pdb/afs_bip_d.pdb
/AFS/pdb/afs_bip_t2p.pdb
/AFS/pdb/afs_bip_t2p_d.pdb
/AFS/pdb/afs_d.pdb
/AFS/pdb/afs_tim2.pdb
/AFS/pdb/afs_tim2_d.pdb
/AFS/bin/afs.exe
/AFS/bin/afs_bip_t2p.exe
/AFS/bin/afs_bip_t2p_d.exe
/AFS/bin/afs_d.exe
/AFS/bin/afs_tim2.exe
/AFS/bin/afs_tim2_d.exe
/AdvHD/bin/AdvHD.pdb
/AdvHD/bin/Merge2010.pdb
/Musica/bin/Musica.pdb
/pal/bin/ExtractPGD.exe
/pal/bin/ExtractPGD.pdb
/pal/bin/ExtractPGD_d.exe
/pal/bin/ExtractPGD_d.pdb
/pal/bin/unpackPAL.exe
/pal/bin/unpackPAL.pdb
/pal/bin/unpackPAL_d.exe
/pal/bin/unpackPAL_d.pdb
/ypf/bin/ypf.exe
/ypf/bin/ypf_d.exe
/ypf/pdb/ypf.pdb
/ypf/pdb/ypf_d.pdb
/ypf/bin/ycg.exe
/ypf/bin/ycg_d.exe
/ypf/pdb/ycg.pdb
/ypf/pdb/ycg_d.pdb
